body {
    background-color: #f7f9fc;
    overflow-x: hidden;
    margin: 0;
}
.types {
    display: flex;
    gap: 8px;
}

.widthContentFull {
    width: 100%;
}
.widthContentSmall {
    width: calc(100% - 400px);
}
