.searchBarDiv {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms;
    filter: drop-shadow(2px 3px 3px rgba(70, 155, 208, 0.186));
    height: 60px;
    background-color: white;
    border-radius: 24px;
    gap: 2px;
}

.searchBar {
    margin-left: 10px;
    display: flex;
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 24px;
    text-align: center;
}